ErrorDocument 404 /404.html
RewriteEngine On

# Redirect /latest URLs to the unified PHP script
RewriteRule ^(col-(?:zh|ch))/([0-9\.]+)/latest$ /unified-redirect-latest.php [L]

# Redirect ordnungsnummer URLs to the unified PHP script
RewriteRule ^(col-zh|col-ch)/([0-9\.]+)$ /unified-redirect.php?collection=$1&ordnungsnummer=$2 [L]
